{{> sidebar }}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Admin</a>
            </li>
            <li class="breadcrumb-item "><a href="/orders">Orders</a></li>
            <li class="breadcrumb-item active">Details</li>

        </ol>

        <!-- add a menu-->
        {{#if success }}
            <div class="alert alert-success">
                {{{ success }}}
            </div>
        {{/if}}

        {{#if error }}
            <div class="alert alert-danger">
                {{{ error }}}
            </div>
        {{/if}}

        <div class="card pt-4">
            <div class="card-title pl-4">
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success"
                              style="font-weight: bolder;font-size: 18px">ORDER NO: {{{order.id}}} </span>
                    </div>
                    <div class="col-md-12">
                        <span class="pl-5 text-success">  ordered at: {{{ order.createdAt}}}</span>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-light w-75">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td class="text-info">Status:</td>
                            <td>{{{ order.status}}}</td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" data-target="#updateOrderStatus">
                                    UPDATE
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Customer Name:</td>
                            <td>{{{ order.userName}}}</td>
                            <td class="text-info">Customer Phone:</td>
                            <td>{{{ order.userPhone}}}</td>

                        </tr>

                        <tr>
                            <td class="text-info">Location:</td>
                            <td>{{{ order.town}}} - {{{ order.area}}}</td>
                            <td class="text-info">Restaurant:</td>
                            <td>{{{ order.restaurant }}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-text mt-3">
                    <span class="text-success" style="font-weight: bolder;font-size: 18px"> Menu Items Ordered</span>
                    <div class="table-responsive">
                        <table class="table table-light">
                            <thead>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            </thead>
                            <tbody>
                            {{#each order.orderItems}}
                                <tr>
                                    <td>{{{this.menuName}}}</td>
                                    <td>{{{ this.price}}}</td>
                                    <td>{{{ this.quantity}}}</td>
                                    <td>{{{ this.subTotal}}}</td>
                                </tr>
                            {{/each}}

                            <tr>
                                <td class="text-info"> Delivery Cost:</td>
                                <td></td>
                                <td></td>
                                <td style="font-weight: bold">Kshs {{{ order.deliveryCost }}}</td>
                            </tr>
                            <tr>
                                <td class="text-info"> Sub-Total:</td>
                                <td></td>
                                <td></td>
                                <td style="font-weight: bold">Kshs {{{ order.totalCost }}}</td>
                            </tr>
                            <tr>
                                <td class="text-info"> Total:</td>
                                <td></td>
                                <td></td>
                                <td style="font-weight: bold"> Kshs {{ order.cost }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--modal-->
<!--modal-->
<div class="modal fade" id="updateOrderStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/updateOrderStatus" method="post">

                    <input type="hidden" name="orderId" value="{{{order.id}}}">

                    <div class="form-group">
                        <label>status:</label>
                        <select class="form-control" name="status">
                            <option value="placed">Placed</option>
                            <option value="processed">Processed</option>
                            <option value="delivered">Delivered</option>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-success   btn-block">UPDATE</button>

                </form>

            </div>

        </div>
    </div>
</div>
